.liStrong{
    color: black !important;
    font-weight: bolder !important;
}


.content-title {
    background-color: #fff;
    background-image: linear-gradient(to right, #08877a, #0ee7d0);
    margin: -60px 0 5px 0 !important;
}
.image-holder {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.main {
    padding-bottom: unset !important;
    padding-top: 60px;
}

.image-wrapper {
     background-color: unset !important; 
    position: relative;
}

.mat-h1-v2 {
    font-weight: 700;
    color: #444141;
    line-height: 40px;
font-size: 40px;
    margin-bottom: 30px;
    
}

.mat-h1-v3 {
    font-weight: 700;
    color: #444141;
    line-height: 40px;

    margin-bottom: 30px;
    
 
}