<app-nav-bar></app-nav-bar>
<div class="content-title">
    <div class="content-title-inner">
        <div class="container ">
            <h1>Profile Page</h1>


        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
</div><!-- /.content-title -->
<div class="my-profile content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">


                <app-profileaside></app-profileaside>

            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">


                <div class="my-address">
                    <h3 class="heading-2">Change Password</h3>

                    <form [formGroup]="changePassword">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" (focus)="onFocus('CurrentPassword')" (blur)="onBlur()"
                                formControlName="CurrentPassword" class="input-text" name="current password"
                                placeholder="Current Password">

                            <mat-error *ngIf="changePassword.controls['CurrentPassword'].hasError('required') &&
                                selectedField=='CurrentPassword' ">
                                password is <strong>required</strong>
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>

                            <input type="password" (focus)="onFocus('NewPassword')" (blur)="onBlur()"
                                formControlName="NewPassword" class="input-text" name="new-password"
                                placeholder="New Password">
                            <mat-error *ngIf="changePassword.controls['NewPassword'].hasError('minlength') && !changePassword.controls['NewPassword'].hasError('required')&&
                                selectedField=='NewPassword'">
                                Please enter strong password
                            </mat-error>
                            <mat-error *ngIf="changePassword.controls['NewPassword'].hasError('required') &&
                                selectedField=='NewPassword' ">
                                password is <strong>required</strong>
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" (focus)="onFocus('confirmpassword')" (blur)="onBlur()"
                                formControlName="confirmpassword" class="input-text" name="confirm-new-password"
                                placeholder="Confirm New Password">
                            <mat-error *ngIf="changePassword.controls['confirmpassword'].hasError('minlength') && !changePassword.controls['confirmpassword'].hasError('required')&&
                                selectedField=='confirmpassword'">
                                <small>Please enter strong password</small>
                            </mat-error>
                            <mat-error *ngIf="changePassword.controls['confirmpassword'].hasError('mismatch')">
                                <small><strong> password must matched with password </strong></small>
                            </mat-error>
                            <mat-error *ngIf="changePassword.controls['confirmpassword'].hasError('required') &&
                                selectedField=='confirmpassword' ">
                                password is <strong>required</strong>
                            </mat-error>
                        </div>
                        <button (click)="submit()" class="btn btn-md btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>