
      <mat-dialog-content class="mat-typography">
      <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <h4 class="modal-title w-100">Awesome!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Your reserve has been confirmed. You will reserve email for detials.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" mat-dialog-close="yes" >OK</button>
                </div>
            </div>
        </div>
    </mat-dialog-content>

