<app-nav-bar></app-nav-bar>
<div class="content-title">
    <div class="content-title-inner">
        <div class="container ">		
            <h1>Profile Page</h1>		
    
               
        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->
<div class="my-profile content-area" style="margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div  class="edit-profile-photo">
                    <img src="{{user.singelUser.image}}" alt="profile-photo" class="img-fluid">
                  
                </div>    
<app-profileaside></app-profileaside>

</div>
<div  class="col-lg-8 col-md-12 col-sm-12">
            
    <!-- My address start-->
    <div  class="my-address">
        <h3 class="heading-2">Add New Card</h3>
       
        <form [formGroup]="AddCard" >
           
              <div class="form-group">
                <label>Card number</label>
                <input type="text"  formControlName="Cardnumber"   class="input-text" name="agent" >
            </div>
            <div class="form-group">
                <label>Ccv</label>
                <input type="text"  formControlName="Ccv" class="input-text" name="" >
            </div>
            
            <div class="form-group">
                <label>Expired date</label>
                <input type="date"  formControlName="Expirededate"  class="input-text" name="Birthdate" />
            </div>
            <div class="form-group">
                <label>Card type</label>
                <input type="email"  formControlName="Cardtype"  class="input-text" name="email" >
            </div>
           
            <button (click)="addCard()"  class="btn btn-md btn-primary">Save Changes</button>
        </form>


    </div>
    <!-- My address end -->
</div>

</div>
</div>
</div>
<app-footer></app-footer>