<app-nav-bar></app-nav-bar>
<div class="content-title">
    <div class="content-title-inner">
        <div class="container ">		
            <h1>Profile Page</h1>		
    
               
        </div><!-- /.container -->
    </div><!-- /.content-title-inner -->
    </div><!-- /.content-title -->
<div class="my-profile content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="clearfix">
                    <!-- Avatar start -->
                    <div  class="edit-profile-photo">
                        <img src="{{user.singelUser.image}}" alt="profile-photo" class="img-fluid">
                        <div class="change-photo-btn">
                            <div  class="photoUpload">
                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                <input (click)="file.click()"   class="upload">
                            </div>
                        </div>
                    </div>
                   
               <app-profileaside></app-profileaside>
                </div>
            </div>
            <div  class="col-lg-8 col-md-12 col-sm-12">
            
                <!-- My address start-->
                <div  class="my-address">
                    <h3 class="heading-2">My Account</h3>
                   
                    <form  [formGroup]="updatForm">
                       
                          
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" disabled="true" [value]="user.singelUser.username" class="input-text" name="your name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text"  formControlName="firstname" [(ngModel)]="user.singelUser.firstname" class="input-text" name="First Name" placeholder="John deo">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text"  formControlName="lastname"  [(ngModel)]="user.singelUser.lastname" class="input-text" name="agent" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label>Birthdate</label>
                            <input  type="date"  value="{{user.singelUser.birthdate | date:'yyyy-MM-dd'}}"   formControlName="birthdate"     class="input-text" name="Birthdate" placeholder="Birthdate"/>
                        </div>
                       
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email"  formControlName="email" [(ngModel)]="user.singelUser.email" class="input-text" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                        <input type="file" #file placeholder="Choose Image"
                        formControlName="imagename" (change)="uploadFile($event)"
                          style="display:none;">
                    </div>
                        <a (click)="submit()" class="btn btn-md btn-primary">Save Changes</a>
                    </form>


                </div>
                <!-- My address end -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>